<body>
    <a href="/">Home</a><br><!--Link to home page-->
    <h1>Update Student</h1>
    
    <% if (errors != undefined) { %>
        <ul>
            <% errors.forEach((error) => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>

    <!--Populated forms-->
    <form action="/students/edit/<%= student.sid %>" method="POST">
        <label>Student ID:</label>
        <input type="text" value="<%= student.sid %>" name="sid"><br>
        <label>Name:</label>
        <input type="text" value="<%= student.name %>" name="name"><br>
        <label>Age:</label>
        <input type="text" value="<%= student.age %>" name="age"><br>
        <input type="submit" value="OK">
    </form>
</body>
